body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1ede6;
}

header {
  background-color: #cbad8d;
  padding: 10px 0;
}

header ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

header ul li {
  display: inline;
  margin: 0 15px;
}

header ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background-color: #cbad8d;
  color: white;
}

.hero h1 {
  font-size: 3em;
  margin: 0;
}

.hero p {
  font-size: 1.2em;
  margin: 10px 0 20px;
}

.btn {
  background-color: #d1c7bd;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 50px 20px;
  text-align: center;
}

#projects .project-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-item {
  background-color: #d1c7bd;
  padding: 20px;
  margin: 20px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#project-item1 {
  background-image: src= "API.png";
}

#project-item2 {
  background-image: src= "peakpx.jpg";
}

#project-item3 {
  background-image: src= "image_0.jpg";
}

footer {
  background-color: #cbad8d;
  color: white;
  padding: 20px;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: none;
  color: none;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 9999;
}

.back-to-top:hover {
  background-color: none;
}

.icon-up {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
}

.back-to-top.show {
  display: block;
  color: none;
}

.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
