body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1ede6;
}

header {
    background-color: #333;
    padding: 10px 0;
}

header ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

header ul li {
    display: inline;
    margin: 0 15px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #d1c7bd;
    color: white;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
}

.hero p {
    font-size: 1.2em;
    margin: 10px 0 20px;
}

.btn {
    background-color: #d1c7bd;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 50px 20px;
    text-align: center;
}

#projects .project-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-item {
    background-color: white;
    padding: 20px;
    margin: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #cbad8d;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #d1c7bd;
    text-decoration: none;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #6fa3ef;
  color: #cbad8d;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 9999;
}

.back-to-top:hover {
  background-color: #d1c7bd;
}

.icon-up {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
}

.back-to-top.show {
  display: block;
}

.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
