.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: aquamarine;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background 2.0s linear;
    flex-direction: column;
}

body.dark {
    background-color: #292c35;
}

body.dark p {
    color: #fff;
}

* {
    box-sizing: border-box;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.label {
    height: 26px;
    width: 50px;
    display: flex;
    background-color: #111;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px;
}

.ball {
    background-color: #fff;
    position: absolute;
    height: 22px;
    width: 22px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}