.navbar {
    overflow: hidden;
    background-color: #333;
    font-size: 16pt;
    color: #fff;
    border-radius: 14px;
}

.navbar a {
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 14px;
    color: black;
}

.navbar a:hover {
    background-color: rgb(11, 130, 146);
    border-radius: 14pt;
}

.active {
    background-color: rgb(11, 130, 146);
    color: #fff;
}
