.navbar {
    overflow: hidden;
    background-color: #333;
    font-size: 16pt;
    color: #fff;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #111;
    font-size: 18pt;
}

.navbar a:hover {
    background-color: aquamarine;
}

.active {
    background-color: aquamarine;
    color: #111;
    text-decoration: solid;
}
